@model Railway_Ticket_Book.Context.passwr
@{
    ViewBag.Title = "forgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>


        body {
            font-size: 16px;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: white;
            background-image: url('../../img/3293465.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: right bottom;
            background-size: 50%;
        }
        .box {
            width: 400px;
            padding: 15px;
            position: absolute;
            top: 50%;
            left: 30%;
            transform: translate(-50%,-50%);
            background: #FFFFFF;
            text-align: center;
            border-radius: 6px;
            border: 1px solid #0AA1DD;
        }

        .form-control {
            border: 0;
            background: none;
            display: block;
            text-align: center;
            margin-left: 60px;
            margin-bottom: 10px;
            background-image: url('../../img/gmail.png');
            background-repeat: no-repeat;
            background-size: 30px;
            background-position-x: 10%;
            background-position-y: 50%;
            padding-left: 30px;
            border: 1px solid #0AA1DD;
            width: 350px;
            height: 45px;
            outline: none;
            color: #000000;
            border-radius: 25px;
        }
        #needpadding{
            padding-left:30px;
            
        }

        .btn {
            border: 0;
            background: #0AA1DD;
            padding-left: 60px;
            text-align: center;
            width: 350px;
            height: 45px;
            outline: none;
            color: white;
            border-radius: 25px;
        }
        hr {
            background-color: #0AA1DD;
            border: 1px solid #0AA1DD;
        }
        h3 {
            color: #0AA1DD;
        }
    </style>
</head>

<div class="box">
    @using (Html.BeginForm())
    {
       
        <h3>Forgot Password ?</h3>
        <div>
            @if (TempData["GmailNotFound"] != null)
            {
                <div class="alert-danger">
                    <strong>@TempData["GmailNotFound"]</strong>
                </div>
            }
            @if (TempData["GmailFound"] != null)
            {
                <div class="alert-success">
                    <strong>@TempData["GmailFound"]</strong>
                </div>
            }
        </div>
       
        <hr />
        <br />
        <br />

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                @Html.EditorFor(model => model.fgmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" ,id="needpadding"} })
                @Html.ValidationMessageFor(model => model.fgmail, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <div class="col">
                    <input type="submit" value="Password Recovery" class="btn btn-default" />
                </div>
            </div>

        </div>
    }


</div>


